header h1 {
	text-align: center;
	font-family: 'Fugaz One';
	font-weight: bold;
}

header h1 a {
	color: black;
}

header h1 a:hover {
	color: black;
	text-decoration: none;
}

.table thead tr th {
	background-color: ;
}

.table-striped tbody tr:nth-child(odd) td {
	background-color: #CCFFFF;
}

.table-hover tbody tr:hover td {
    background-color: #00FFFF;
}

.logout {
	float: right;
}
